ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
     
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:rgb(105, 70, 187);
    text-align: center;
    padding: 25px 26px;
    text-decoration: none;
    
  }
  .h11{
    color:aliceblue;
    padding: 100;
text-align: center;
font-size: 40px;

  }
#para{
     font-size: 148px;
}
 #h111{
    padding-right: 50%;
 } 
hr.new5 {
    border: 10px solid green;
    border-radius: 5px;
  }
 #p:hover {
    font-size:4px;
  }

  .card{
  
padding-left: 550;

  }
  li a:hover {
    background-color: #691111;
    color: white;
  }
.div1{
    background-color: #5815d6;
    height: 700;
    width: 1340;
  }